{% extends "layout.html" %}

{% block content %}

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Seizure Warning</h3>
                <div class="form-group">
                    <form action="/result" method="POST">
                        <label for="subject">Subject</label>
                        <select id="subject" name="subject">
                            {% for i in [ 1,3,5,6,8,10,12,13,14,15,16,18,20,23,24] %}
                            <option value={{i}}>Case_{{i}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="event_id">Episode index</label>
                        <input type="text" id="event_id" name="event_id">
                        <br>

                        <label for="threshold">Alarm Threshold</label>
                        <select name="threshold" id="threshold">
                            <option value="L">Low</option>
                            <option value="M">Medium</option>
                            <option value="H">High</option>
                        </select>
                        <br>

                        <label for="sec_pre">Number of seconds before onset</label>
                        <input type="text" id="sec_pre" name="sec_pre" , placeholder="100">
                        <br>

                        <label for="sec_post">Number of seconds after onset</label>
                        <input type="text" id="sec_post" name="sec_post" , placeholder="100">
                        <br>

                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </div>
    </div>
    </form>
    </main,>
    {% endblock content %}