{% extends "layout.html" %}

{% block content %}

<main>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h2>Seizure Early Detection</h2>
                <br>
                <div class="form-group">
                    <form action="/upload" , method=post enctype=multipart/form-data> <input type="file" name="file"
                        id="file">
                        <br>
                        <label for="subject">Choose pretrained model</label>
                        <select id="subject" name="subject">
                            {% for i in [1,3,5,6,8,10,12,13,14,15,16,18,20,23,24] %}
                            <option value={{i}}>subject_{{i}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label for="threshold">Alarm trigger</label>
                        <select name="threshold" id="threshold">
                            <option value="H">less sensitive</option>
                            <option value="M">normal</option>
                            <option value="L">sensitive</option>
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary" , value="upload">Upload</button>
                    </form>
                    <br>
                    <h6><a href="/home">No EDF file? Use sample files here</a></h6>
                    <br>
                    <h6>Requirement:</h6>
                    <li>File must be in EDF format</li>
                    <li>Recording done with 10-20 EEG system</li>
                    <li>Sampling Frequency has to be >= 256 Hz</li>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>
{% endblock content %}